---
---
@import "{{ site.theme }}";
/*import google font*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.imgLeft {
float:left;
margin: 0 10px 10px 0;
margin-bottom:10px;
width : 50%; 
vertical-align: top; 
border-style: dotted solid;
border-width: 10px;
border-color: pink;
}

/*set font for site*/
body {
	font-family: 'Quicksand', sans-serif;
}

h1 {
  color:white;
}

.main-content h1 {
  color : blue;
}

.page-header {
	   color: #000000;
    text-align: center;
    background-color: #f5f5f5;
    background-image: linear-gradient(120deg, #f8f8f8, #9f3636);
}



.btn2 {
  border-radius: 4px;
  background-color:#3a6186;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
}
