---
---
@import "{{ site.theme }}";

.imgLeft {
float:left;
margin: 0 10px 10px 0;
margin-bottom:10px;
width : 70%; 
vertical-align: top; 
border: 1px solid green;
}

h1 {
  color:white;
}

.main-content h1 {
  color : blue;
}

.page-header {
	color: #fff;
	text-align: center;
	background-color: #75159966;
	background-image: linear-gradient(120deg, #bdc9d5, #9f369a);
}
